<h1>Editing employee database</h1>

<%= render "form", employee_database: @employee_database %>

<br>

<div>
  <%= link_to "Show this employee database", @employee_database %> |
  <%= link_to "Back to employee databases", employee_databases_path %>
</div>
