<div id="<%= dom_id employeesample %>">
  <p>
    <strong>Empname:</strong>
    <%= employeesample.Empname %>
  </p>

  <p>
    <strong>Empage:</strong>
    <%= employeesample.Empage %>
  </p>

</div>
