<h1>Editing employeesample</h1>

<%= render "form", employeesample: @employeesample %>

<br>

<div>
  <%= link_to "Show this employeesample", @employeesample %> |
  <%= link_to "Back to employeesamples", employeesamples_path %>
</div>
